/* line 1, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 7, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
body {
  background-image: url(../media/Darkroad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 13, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
.wrapper-body {
  max-width: 552px;
  margin: 70px auto 100px;
}

@media screen and (max-width: 552px) {
  /* line 13, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
  .wrapper-body {
    max-width: 100%;
  }
}

/* line 1, C:/Users/sahil/Documents/GitHub/calc/scss/_tabbutton.scss */
.tabbuttons {
  width: 100%;
}

/* line 5, C:/Users/sahil/Documents/GitHub/calc/scss/_tabbutton.scss */
.buttoncontainer button {
  width: calc(100% / 3);
  outline: none;
  border: none;
  float: left;
  font-size: 18px;
  padding: 15px 0;
  border-collapse: collapse;
}

@media screen and (max-width: 390px) {
  /* line 5, C:/Users/sahil/Documents/GitHub/calc/scss/_tabbutton.scss */
  .buttoncontainer button {
    font-size: 15px;
  }
}

/* line 1, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 8, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.tabpanel {
  width: 100%;
}

/* line 13, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel__info {
  font-style: italic;
  margin-top: 50px;
  font-size: 16px;
}

/* line 20, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet {
  background: #D7ECFA;
  padding: 20px 22px 30px;
}

/* line 23, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet__title {
  font-weight: 500;
  font-size: 21px;
  padding: 10px 0;
}

/* line 28, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet__input-group-a {
  margin-top: 10px;
}

@media screen and (max-width: 552px) {
  /* line 28, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-backbet__input-group-a {
    margin-top: 0;
  }
}

/* line 35, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet__input-group-b {
  margin-top: 30px;
}

@media screen and (max-width: 552px) {
  /* line 35, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-backbet__input-group-b {
    margin-top: 0;
  }
}

/* line 43, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet {
  background: #FDDEE5;
  padding: 20px 22px 30px;
}

/* line 46, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__title {
  font-weight: 500;
  font-size: 21px;
  padding: 10px 0;
}

/* line 51, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__input-group-a {
  margin-top: 10px;
}

@media screen and (max-width: 552px) {
  /* line 51, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__input-group-a {
    margin-top: 0;
  }
}

/* line 57, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons {
  padding: 25px 0 10px;
}

/* line 59, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap {
  text-align: center;
}

/* line 61, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap button {
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  background: #FFBCCB;
  border-radius: 120px;
  padding: 5px 25px;
}

@media screen and (max-width: 460px) {
  /* line 61, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__buttons--wrap button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

/* line 75, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap .qboverlay, .panel-laybet__buttons--wrap .fboverlay, .panel-laybet__buttons--wrap .cboverlay {
  float: right;
}

@media screen and (max-width: 460px) {
  /* line 75, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__buttons--wrap .qboverlay, .panel-laybet__buttons--wrap .fboverlay, .panel-laybet__buttons--wrap .cboverlay {
    float: inherit;
  }
}

/* line 81, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap .qbunderlay, .panel-laybet__buttons--wrap .fbunderlay, .panel-laybet__buttons--wrap .cbunderlay {
  float: left;
}

@media screen and (max-width: 460px) {
  /* line 81, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__buttons--wrap .qbunderlay, .panel-laybet__buttons--wrap .fbunderlay, .panel-laybet__buttons--wrap .cbunderlay {
    float: inherit;
  }
}

/* line 91, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  border: 0;
  background: #262F30;
  margin-top: 15px;
}

/* line 100, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

/* line 108, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

/* line 115, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--scale {
  display: -webkit-box;
  width: 100%;
  margin-top: 10px;
}

/* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--scale .line {
  height: 7.5px;
  width: 1px;
  margin: 0 0.925%;
  background-color: #262F30;
}

@media screen and (max-width: 510px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.91%;
  }
}

@media screen and (max-width: 480px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.905%;
  }
}

@media screen and (max-width: 460px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.901%;
  }
}

@media screen and (max-width: 440px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.896%;
  }
}

@media screen and (max-width: 400px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.87%;
  }
}

/* line 140, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--scale .l1, .panel-laybet__slider--scale .l25, .panel-laybet__slider--scale .l49 {
  height: 20px;
  width: 2px;
}

/* line 146, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax {
  margin-top: 10px;
  display: -webkit-box;
  font-size: 18px;
  width: 100%;
}

/* line 151, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--min {
  width: calc(100% / 3);
}

/* line 153, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--min .min {
  width: 115px;
  display: -webkit-box;
  padding: 10px;
  background: #FFBCCB;
  border-radius: 7px;
  font-weight: 400;
}

@media screen and (max-width: 460px) {
  /* line 153, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--min .min {
    width: 90px;
    font-size: 16px;
  }
}

/* line 165, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--min .min__value input {
  border: none;
  background: #FFBCCB;
  font-size: 18px;
  width: 55px;
  margin-left: 10px;
}

@media screen and (max-width: 460px) {
  /* line 165, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--min .min__value input {
    width: 45px;
    margin-left: 5px;
    font-size: 16px;
  }
}

/* line 180, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--standard {
  width: calc(100% / 3);
  text-align: center;
}

/* line 183, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--standard .standard {
  padding-top: 10px;
  font-size: 20px;
}

@media screen and (max-width: 460px) {
  /* line 183, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--standard .standard {
    padding-top: 12.5px;
    font-size: 16px;
  }
}

/* line 192, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--max {
  width: calc(100% / 3);
  position: relative;
}

/* line 195, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--max .max {
  position: absolute;
  right: 0;
  width: 115px;
  display: -webkit-box;
  padding: 10px;
  background: #FFBCCB;
  border-radius: 7px;
  font-weight: 400;
}

@media screen and (max-width: 460px) {
  /* line 195, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--max .max {
    width: 90px;
    font-size: 16px;
  }
}

/* line 209, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--max .max__value input {
  border: none;
  background: #FFBCCB;
  font-size: 18px;
  width: 55px;
  margin-left: 10px;
}

@media screen and (max-width: 460px) {
  /* line 209, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--max .max__value input {
    width: 45px;
    margin-left: 5px;
    font-size: 16px;
  }
}

/* line 228, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.laystake-val {
  background: #262F30;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

/* line 236, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.laystake-val:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(38, 47, 48, 0);
  border-bottom-color: #262F30;
  border-width: 18px;
  margin-left: -18px;
}

/* line 252, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult {
  margin-top: 15px;
}

/* line 256, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(1) {
  background: #262F30;
  color: white;
}

/* line 259, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(1) th {
  font-weight: 500;
}

/* line 262, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(1) th:nth-child(4) {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 390px) {
  /* line 262, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(1) th:nth-child(4) {
    font-size: 14px;
  }
}

/* line 269, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(1) th:nth-child(5) {
  color: #ffffff;
  padding-right: 6%;
}

@media screen and (max-width: 390px) {
  /* line 269, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(1) th:nth-child(5) {
    font-size: 14px;
  }
}

/* line 277, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(2) {
  background: #F0F8FF;
  color: white;
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 390px) {
  /* line 277, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(2) {
    font-size: 14px;
  }
}

/* line 285, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(2) td:nth-child(1) {
  background: #D7ECFA;
  border-radius: 0 25px 25px 0;
  position: relative;
}

@media screen and (max-width: 390px) {
  /* line 285, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(2) td:nth-child(1) {
    font-size: 14px;
  }
}

/* line 293, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(2) td:nth-child(5) {
  padding-right: 6%;
}

@media screen and (max-width: 390px) {
  /* line 293, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(2) td:nth-child(5) {
    font-size: 14px;
  }
}

/* line 300, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(3) {
  background: #CBE2E5;
  color: white;
  font-weight: 500;
  color: black;
}

/* line 305, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(3) td:nth-child(1) {
  background: #FDDEE5;
  border-radius: 0 25px 25px 0;
  position: relative;
}

@media screen and (max-width: 390px) {
  /* line 305, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(3) td:nth-child(1) {
    font-size: 14px;
  }
}

/* line 312, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(3) td:nth-child(1) .bs2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #CBE2E5;
  z-index: -1;
}

@media screen and (max-width: 390px) {
  /* line 312, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(3) td:nth-child(1) .bs2 {
    font-size: 14px;
  }
}

/* line 324, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr:nth-child(3) td:nth-child(5) {
  padding-right: 6%;
}

@media screen and (max-width: 390px) {
  /* line 324, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr:nth-child(3) td:nth-child(5) {
    font-size: 14px;
  }
}

/* line 332, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr th:nth-last-child(2) {
  padding-left: 0px !important;
}

@media screen and (max-width: 390px) {
  /* line 332, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr th:nth-last-child(2) {
    font-size: 14px;
  }
}

/* line 338, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr th:nth-last-child(1) {
  padding-right: 0px;
}

@media screen and (max-width: 390px) {
  /* line 338, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr th:nth-last-child(1) {
    font-size: 14px;
  }
}

/* line 346, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr th:nth-last-child(1) {
  padding-right: 15px;
}

@media screen and (max-width: 390px) {
  /* line 346, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr th:nth-last-child(1) {
    font-size: 14px;
  }
}

/* line 353, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr th, .quickresult .cbcalc tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 390px) {
  /* line 353, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr th, .quickresult .cbcalc tr td {
    font-size: 14px;
  }
}

/* line 361, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr td:nth-child(1) {
  text-align: left;
  width: 20%;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 15px;
  position: relative;
}

@media screen and (max-width: 390px) {
  /* line 361, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr td:nth-child(1) {
    font-size: 14px;
  }
}

/* line 372, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr td:nth-child(2) {
  width: 16%;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
}

@media screen and (max-width: 390px) {
  /* line 372, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr td:nth-child(2) {
    font-size: 14px;
  }
}

/* line 381, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr td:nth-child(3) {
  width: 16%;
  padding-left: 0;
  font-size: 16px;
}

@media screen and (max-width: 390px) {
  /* line 381, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr td:nth-child(3) {
    font-size: 14px;
  }
}

/* line 390, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr td:nth-child(4) {
  width: 16%;
  padding-left: 0;
  font-size: 16px;
}

@media screen and (max-width: 390px) {
  /* line 390, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr td:nth-child(4) {
    font-size: 14px;
  }
}

/* line 398, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr td:nth-child(6) {
  width: 16%;
  padding-right: 15px;
  padding-left: 0px;
  font-size: 16px;
}

@media screen and (max-width: 390px) {
  /* line 398, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr td:nth-child(6) {
    font-size: 14px;
  }
}

/* line 408, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc tr .bs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #F0F8FF;
  z-index: -1;
}

@media screen and (max-width: 390px) {
  /* line 408, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult .cbcalc tr .bs {
    font-size: 14px;
  }
}

/* line 421, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table {
  border-collapse: collapse;
  text-align: right;
  width: 100%;
  /*
    &--row1{
      background: #262F30;
      color: white;
      font-weight: 500;
      width: 100%;
    }
    &--row2{
      background: #F0F8FF;
      font-weight: 500;
    }
    &--row3{
      background: #CBE2E5;
      font-weight: 500;
    }
    .row1-qualifying{
      &__col3{
        width: 2%;
        padding: 0 30px;
        text-align: center;
        color: #E6B051;
        font-weight: lighter;
        font-size: 22px;
      }
      &__col4{
        width: 12%;
        padding-right: 15px;
      }
      &__col7{
        width: 12%;
        padding-right: 15px;
      }
      &__col5{
        width: 2%;
        padding: 0 0 0 15px;
        color: #E6B051;
        font-weight: lighter;
      }
      &__col6{
        width: 12%;
        padding-right: 20px;
      }
    }
    .row2-qualifying{
      &__col1{
        width: 50%;
        padding:10px 25px 10px 0;
        font-size: 18px;
        background: #D7ECFA;
        border-radius: 0 25px 25px 0;
        position: relative;
        .bs{
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background: #F0F8FF;
          z-index: -1
        }
      }
      &__col2{
        width: 15%;
      }
      &__col3{
        width: 2%;
        padding: 0 30px 0;
        text-align: center;
        color: #262F30;
        font-size: 22px;
      }
      &__col4{
        width: 12%;
        padding-right: 15px;
      }
      &__col7{
        width: 12%;
        padding-right: 15px;
      }
      &__col5{
        width: 2%;
        padding: 0 0 0 15px;
        color: #262F30;
        background: rgba(0,0,0,0.07);
      }
      &__col6{
        width: 12%;
        padding-right: 20px;
        font-weight: 600;
        background: rgba(0,0,0,0.07);
      }
    }
    .row3-qualifying{
      &__col1{
        width: 50%;
        padding:10px 15px 10px 0;
        font-size: 20px;
        background: #FDDEE5;
        border-radius: 0 25px 25px 0;
        position: relative;
        .bs2{
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background: #CBE2E5;
          z-index: -1
        }
      }
      &__col2{
        width: 15%;
      }
      &__col3{
        width: 2%;
        padding: 0 30px 0;
        text-align: center;
        color: #262F30;
        font-size: 22px;
      }
      &__col4{
        width: 12%;
        padding-right: 15px;
      }
      &__col7{
        width: 12%;
        padding-right: 15px;
      }
      &__col5{
        width: 2%;
        padding: 0 0 0 15px;
        color: #262F30;
        background: rgba(0,0,0,0.07);
      }
      &__col6{
        width: 12%;
        padding-right: 20px;
        font-weight: 600;
        background: rgba(0,0,0,0.07);
      }
    }*/
}

/* line 427, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(1) {
  background: #262F30;
  color: white;
}

/* line 430, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(1) th {
  font-weight: 500;
}

/* line 433, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(1) th:nth-child(4) {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 390px) {
  /* line 433, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr:nth-child(1) th:nth-child(4) {
    font-size: 14px;
  }
}

/* line 441, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(2) {
  background: #F0F8FF;
  color: white;
  font-weight: 500;
  color: black;
}

/* line 446, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(2) td:nth-child(1) {
  background: #D7ECFA;
  border-radius: 0 25px 25px 0;
  position: relative;
  padding-left: 15px;
}

@media screen and (max-width: 390px) {
  /* line 446, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr:nth-child(2) td:nth-child(1) {
    font-size: 14px;
  }
}

/* line 456, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(3) {
  background: #CBE2E5;
  color: white;
  font-weight: 500;
  color: black;
}

/* line 461, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(3) td:nth-child(1) {
  background: #FDDEE5;
  border-radius: 0 25px 25px 0;
  position: relative;
  padding-left: 15px;
}

@media screen and (max-width: 390px) {
  /* line 461, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr:nth-child(3) td:nth-child(1) {
    font-size: 14px;
  }
}

/* line 469, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr:nth-child(3) td:nth-child(1) .bs2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #CBE2E5;
  z-index: -1;
}

@media screen and (max-width: 390px) {
  /* line 469, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr:nth-child(3) td:nth-child(1) .bs2 {
    font-size: 14px;
  }
}

/* line 483, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr th:nth-last-child(1) {
  padding-right: 15px;
}

@media screen and (max-width: 390px) {
  /* line 483, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr th:nth-last-child(1) {
    font-size: 14px;
  }
}

/* line 491, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr th:nth-last-child(1) {
  padding-right: 15px;
}

@media screen and (max-width: 390px) {
  /* line 491, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr th:nth-last-child(1) {
    font-size: 14px;
  }
}

/* line 498, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr th, .quickresult__table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 390px) {
  /* line 498, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr th, .quickresult__table tr td {
    font-size: 14px;
  }
}

/* line 506, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr td:nth-child(1) {
  text-align: left;
  width: 25%;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  position: relative;
}

@media screen and (max-width: 390px) {
  /* line 506, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr td:nth-child(1) {
    font-size: 14px;
  }
}

/* line 517, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr td:nth-child(2) {
  width: 20%;
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
}

@media screen and (max-width: 390px) {
  /* line 517, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr td:nth-child(2) {
    font-size: 14px;
  }
}

/* line 526, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr td:nth-child(3) {
  width: 20%;
  padding-left: 0;
  font-size: 16px;
  padding-right: 0px;
}

@media screen and (max-width: 390px) {
  /* line 526, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr td:nth-child(3) {
    font-size: 14px;
  }
}

/* line 535, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr td:nth-child(5) {
  width: 20%;
  padding-right: 15px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 390px) {
  /* line 535, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr td:nth-child(5) {
    font-size: 14px;
  }
}

/* line 546, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table tr .bs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #F0F8FF;
  z-index: -1;
}

@media screen and (max-width: 390px) {
  /* line 546, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .quickresult__table tr .bs {
    font-size: 14px;
  }
}

/* line 700, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accordion {
  background-color: #262F30;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 15px;
  font-weight: 500;
  word-spacing: 70px;
}

/* line 716, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable {
  float: right;
  border-collapse: collapse;
  font-size: 18px;
}

/* line 720, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr {
  text-align: center;
}

/* line 722, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr td {
  display: inline-block;
}

/* line 725, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr td:nth-child(2) {
  padding: 0 33px;
}

/* line 728, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr td:nth-child(3) {
  padding: 0 15px;
}

/* line 740, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

/* line 748, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.active:after {
  content: "\2212";
}

/* line 752, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.mpanel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* line 760, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show {
  width: 100%;
  border-collapse: collapse;
}

/* line 765, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show tr th:nth-child(1), .moreresults__show tr td:nth-child(1) {
  text-align: left;
}

/* line 770, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row {
  text-align: center;
}

/* line 772, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(odd) {
  background: #CBE2E5;
}

/* line 775, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(even) {
  background: #F0F8FF;
}

/* line 778, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row .bold {
  font-weight: bold;
}

/* line 781, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row .whiteopacited {
  background: rgba(255, 255, 255, 0.22);
}

/* line 784, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row .blackopacited {
  background: rgba(0, 0, 0, 0.07);
}

/* line 788, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row-col {
  padding: 15px 15px;
}

/*# sourceMappingURL=../css/style.map */