.tabbuttons{
  width: 100%;
}
.buttoncontainer{
  button{
    width: calc(100% / 3);  
    outline: none;
    border: none;
    float: left;
    font-size: 18px;
    padding: 15px 0;
    border-collapse: collapse;
    @media screen and (max-width:390px) {
      font-size: 15px;
    }
  }
}